* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  background-color: #b1b3b5ff;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #2a2525ff;
  font-family: "Arial", sans-serif;
  font-size: 40px;
  margin-bottom: 30px;
}

p {
  font-family: "Verdana", sans-serif;
  font-size: 18px;
}

nav {
  background-color: #4a90e2;
  padding: 10px;
  text-align: center;
}

a {
  font-family: "Verdana", sans-serif;
  font-size: 16px;
  color: #ffededff;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

nav a:hover {
  background-color: #007ccfff;
  transition: background-color 0.3s ease;
}

main {
  background-color: #84a3d1ff;
}

.nome-autor-data {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #edededff;
  padding: 20px;
  width: 800px;
  max-width: 100%;
  margin: auto;
  border-radius: 0px 0px 10px 10px;
}

section h2 {
  font-family: "Arial", sans-serif;
  font-size: 28px;
  color: #2a2525ff;
  text-align: center;
  margin-bottom: 20px;
}

section h3 {
  font-family: "Arial", sans-serif;
  font-size: 28px;
  margin: 10px 0px;
  color: #4a90e2ff;
}

section p {
  line-height: 1.6;
  font-size: 16px;
  color: #333333ff;
}

img {
  max-width: 100%;
}